@import "Xl.css";
@import "Lg.css";
@import "Md.css";
@import "Sm.css";
@import "Xs.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 1000px;
}

.header{
    background-color: whitesmoke;
}
.logo a{
    display: block;
}
.logo a img{
    display: block;
}

.header .nav ul{
    list-style: none;
}

.nav ul li a{
    display: block;
    width: inherit;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    transition: all .5s ease;
}
.nav ul li a:hover{
    background-color:#5243C2;
    color: #fff;
    border-radius: 7px;
}



.eset-item h1{
    line-height: 60px;
    font-size: 42px;
    font-weight: bold;
}
.eset-item h1 span{
    color:deeppink;
}
.eset-item>p{
    line-height: 40px;
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.eset-item a.get{
    display: block;
    text-align: center;
    background-color:#5243C2;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}
.eset-item>a.man{
    display: block;
    width: inherit;
    text-decoration: none;
}

.eset-item>a.man>img{
    display: block;
}





