@media (min-width: 1201px) {
    .header{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header::after{
        display: table;
        clear: both;
    }
    .header .logo a img{
        width: 200px;
    }
    .header .nav ul li a{
        text-align: center;
    }
    .eset-item p{
        margin-top: 50px;
    }
    .eset-item a.get{
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        font-weight: bold;
        margin-top: 50px;
    }
    .logo .mobile{
        display: none;
    }
    .nav ul{
        float: left;
    }
    .nav ul li{
        float: left;
    }
    .nav ul li a{
        padding:20px;
    }
    .eset{
        padding: 50px;
        display: flex;
        justify-content: center;
    }
    .eset-item:nth-of-type(1){
        width: 500px;
        padding-top: 70px;
    }
    .eset>.eset-item:nth-of-type(2){
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }
    /* customer */

    .customer{
        padding: 50px;
    }
    .customer-top{
        width: 500px;
        margin: 20px auto;
    }
    .customer-top h1{
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: deeppink;
        text-transform: capitalize;
    }
    .customer-top p{
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: black;
    }
    .customer-bottom{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        direction: rtl;
    }
    .customer-bottom>a{
        display: block;
        text-decoration: none;
        margin-right: 30px;
    }
    .customer-bottom>a>img{
        display: block;
    }


}
